/* ======== CONTENEDOR GENERAL ======== */
.dashboard-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
background: radial-gradient(circle at top, #1a1a1a, #111);


}

/* ======== ZONA DERECHA ======== */
.dashboard-main {
    margin-left: 240px;      /* deja espacio al sidebar */
    width: calc(100% - 240px);
}

/* ======== CONTENIDO PRINCIPAL ======== */
.dashboard-content {
    margin-top: 60px;        /* deja espacio al topbar */
    padding: 20px;
    background: #151515;  
}
