.sidebar {
    width: 240px;
    background-color: #0F0F0F;
    color: #e0e0e0;

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    padding-top: 20px;
    border-right: 1px solid #222;
    overflow-y: auto;

    z-index: 30;
}

.logo-img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    max-width: 140px;
    margin: 0 auto;
    display: block;
    border-radius: 30%;

}

.sidebar-logo{
    padding: 15px 0 15px;
    border-bottom: 1px solid #222 ;
    background-color: #101010;
    text-align: center;
}

/*Secciones*/
.sidebar-section{
    margin-top:  20px;
}
/*item principales*/
/*Al tener uun padding en item y en el hover de item, se genera un despliege o suavisado*/

.sidebar-item{
    padding: 14px 20px;
    cursor: pointer;
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 15px;
    transition: 0.2s;
    position: relative;
 
}
.sidebar-item:hover{
    padding: 18px 20px;
    background-color: #1b1b1b;
   color: white;
}


/*iconos*/
.icon{
    font-size: 18px;
}
/*funcion de la flechita del menu*/
.chevron{
    margin-left: auto;
    transition: transform 0.2s;
}
/*la flechita gira 180 grados*/

.rotate {
    transform: rotate(180deg);
}

/*sub menu*/
.sidebar-submenu{
    display: flex;
   flex-direction: column;
    background-color: #161616;
    border-left: 2px solid #444;
    padding-left: 18px;
    gap: 8px;
    animation: fadeIn 0.2s ease;
    text-decoration: none;
}

.sidebar-subitem{
    display: block;
    padding: 10px 10px;
    cursor:pointer;
    font-size: 14px;
    color: #ccc
  
}

.sidebar-subitem:hover{
    background-color: #1f1f1f;
    color: #fff;
}

/*Animacion del submenu*/
@keyframes fadeIn {
    from {opacity: 0; transform: translateY(-5px);}
    to {opacity: 1; transform: translateY(0);}
}