body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: Arial, Helvetica, sans-serif;
}


.dashboard-container{
    display: flex;
    height: 100vh;
    width: 100%;
}

.dashboard-main{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.dashboard-content{
   flex: 1;
   padding: 20px;
   color: white

}
